footer {
  background-color: $dark-gray;
  color: $gray-text;
  padding: 2rem 0;

  .footer-content {
    width: 90%;
    max-width: 1046px;
    margin: auto;
    .contacts {
      display: flex;
      justify-content: space-between;

      ul {
        display: flex;
      }
      li {
        font-size: 1.3rem;
        margin-right: 10px;

        &:last-of-type {
          margin-right: 0;
        }

        &:hover {
          color: $teal;
        }
      }
    }
    p {
      text-align: center;
      padding: 0.5rem;

      span {
        font-family: $primary-font;
        font-size: 1.2rem;
        color: $teal;
        padding-right: 2px;
        border-right: 1px solid $teal;
      }
    }
  }
}
